# Ignore the output directory and its contents
output/

# Ignore the specific files
test.py
__pycache__

# Ignore specific files inside the output directory
output/searchResults/searchResults.csv
output/searchResults/content.csv
output/searchResults/searchResults.json
